In [1]:
import pandas as pd

df = pd.read_csv("short_test_data.csv")

In [2]:
df.head()

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass
0,338075892,2024-01-01 00:00:03,43.65322,-70.25298,0.0,358.8,511.0,PILOT BOAT SPRING PT,NaN,WDB8945,90.0,0.0,0.0,0.0,0.0,90.0,A
1,367669550,2024-01-01 00:00:04,46.20031,-123.38573,0.0,281.9,141.0,ALASKA CHALLENGER,IMO7938024,WDH9586,30.0,15.0,30.0,8.0,0.0,30.0,A
2,367118980,2024-01-01 00:00:06,29.98534,-90.40674,0.0,30.1,296.0,CAPT J A MORGAN,IMO1186680,WDD2725,31.0,12.0,115.0,34.0,3.0,57.0,A
3,367177840,2024-01-01 00:00:05,39.88654,-75.17649,0.0,304.4,511.0,BART TURECAMO,IMO7338808,WBR4464,52.0,15.0,33.0,5.0,0.0,52.0,A
4,367305420,2024-01-01 00:00:06,18.33273,-64.95229,0.0,332.6,511.0,DOROTHY MORAN,IMO7716995,WXU4654,52.0,0.0,33.0,11.0,0.0,52.0,A